.privacy-container {
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10em;
    background: linear-gradient(to bottom,#604ba072, #6699CC, #604ba064, #6699CC,#604ba064, #6699CC, #6699CC);
    margin: 0;

}

.privacy-container h2 {
    margin-bottom: 50px;
    align-self: flex-start;
}

.privacy-container h3 {
    all: initial;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    align-self: flex-start !important;

}


.privacy-container h4 {
    all: initial;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    align-self: flex-start !important;
}

.privacy-header {
    text-align: center;
    margin-bottom: 100px;
    font-weight: 500;
}

.privacy-header h1 {
    font-size: 52px;
    margin-bottom: 35px;
}

.privacy-header p {
    font-size: 18px;
    color: #ffffff;
    max-width: 700px;
    margin: 0 auto;
    opacity: 0.8;
    align-self: flex-start !important;
}


.privacy-body {
    font-size: 16px;
    line-height: 1.5;
    color: white;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.privacy-body p {
    margin-bottom: 20px;
    opacity: 0.8;
}

.privacy-body ul {
    list-style-type: none; /* Remove default bullet points */
    padding: 0;            /* Remove default padding */
    margin: 0;             /* Remove default margin */
}


