/* Success.css */
.success {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
 background: linear-gradient(to bottom, #6699CC, #604ba064, #6699CC, #6699CC);
    height: 100vh;
    justify-content: center;
    color: white;
  }
  


.img-container img {
    width: 15em !important;
    height: 15em;
    color: beige;
}

.sub-success-btn {
  padding: 0.52em 0.4em; 
  font-size: 0.96em; 
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 25px, rgba(255, 255, 255, 0.8) 0px 0px 5px inset;
  background: linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%);
  color: rgba(0, 0, 0, 0.648);
  border: none;
  transition: background-color 0.7s ease;
  width: 10%; 
}

.sub-success-btn:hover {
  box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 25px, rgba(255, 255, 255, 0.8) 0px 0px 5px inset;
  background: linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%);
  color: rgba(0, 0, 0, 0.648);
}

  button {
    padding: 0.5em;
    font-size: 1.2em;
    border-radius: 20px;
    background: linear-gradient(to bottom, #282c34  0%, #282c34 100%);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
    border: 0.5px solid rgba(255, 255, 255, 0.021);
    cursor: pointer;
    margin-top: 1em;
  }
  

  button:hover {
    background: linear-gradient(to bottom, #282c34 0%, #1b2944 100%);
    border: 0.5px solid rgba(23, 21, 21, 0.438);
    color: rgba(240, 248, 255, 0.583);
  }
