.strategy-room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #000000;
}


.header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 60px;
    color: #000000;
  }

  .question-section {
    background: linear-gradient(to bottom, #292963, #131327);
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #dee2e6 !important;
  }

  .question {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
  }

  .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .option {
    padding: 10px;
    border-radius: 28px;
    background: linear-gradient(to bottom, #292963, #131327);
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    color: #a49cbd;
    margin-left: 0;
    border: transparent;
    height: 100px;
    text-align: center;
    overflow: scroll;
    text-overflow: ellipsis;
  }

  .option:hover {
   color:#a49cbd;
   background: linear-gradient(to bottom, #131327, #292963 );
  }

  .option.correct {
    background: linear-gradient(to bottom, #c9d9b3, #42ba37);
    color: white;
  }

  .option.incorrect {
    background: linear-gradient(to bottom, #ffc3bf, #e83933);
    color: white;
  }

  .hint-section,
  .explanation-section,
  .score-section,
  .performance,
  .concept,
  .level {
      margin-top: 20px;
      font-size: 1rem;
      color: #ffffff96;
  }

  .performance {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .middle-section {
    height: 150px;
  }

  .navigation-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }

  .navigation-buttons button {
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background: linear-gradient(to bottom, #484887, #282848);
    width: 45px;
    height: 45px;
  }

  .navigation-buttons button:hover {
    background: linear-gradient(to bottom, #282848, #484887);
  }

  .concept-level-container {
    display: flex;
    justify-content: space-between; 
  }
  