.select-opponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #292963, #131327);
    border-radius: 20px;
    padding: 10px;
    width: 100%;
   
    max-width: 30em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #dee2e6 !important;
}

.select-opponent h3 {
    color: #ffffff;
    font-size: 1em;
}

.select-opponent button {
    padding: 8px;
    border-radius: 28px;
    background: transparent !important;
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-sizing: border-box;
    width: 5em;
    color: #ffffff;
    margin-left: 0;
    border: transparent;
    text-align: center;
    overflow: scroll;
    text-overflow: ellipsis;
}

.select-opponent button:hover {
    color:#a49cbd;
    background: transparent !important;
}

.random-opponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 60%;
}


.random-opponent div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.friend-opponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 60%;
}

.friend-opponent div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.leaderboard-opponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 60%;
}

.leaderboard-opponent div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.modal {
    background: linear-gradient(to bottom, #181840ef, #0b0b19e8) !important;
}