.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin-top: 0px;
    padding: 30px;
    height: 100%;
    background: linear-gradient(170deg,#0579ed, #00BFFF, #acd0dccf, #426ab4ab, #5534b77d);
}

.select-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.mission, .expertise {
    flex: 1;
    /* ... other styles */
    padding: 40px;
    border: 1px solid rgba(255, 255, 255, 0.072);
    border-radius: 25px;
    width: 500px;
}

.scrollable-checkbox {
    max-height: 220px;
    overflow-y: scroll;
    min-width: 30em;
}

.checkbox-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: left;
    text-align: left;
    min-width: 25em;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}

.checkbox-container:hover {
    background-color: rgba(69, 69, 133, 0.136);
}

.hidden-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.label-checkbox {
    position: relative;
    cursor: pointer;
    color: white;
    text-align: left !important;
    margin-bottom: 10px;
}

.label-checkbox::before {
    content: '';
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #00000000; /* adjust as necessary */
    border-radius: 3px; /* adjust as necessary */
    
}

.hidden-checkbox:checked + .label-checkbox::after {
    content: '✔';
    position: absolute;
    right: -90px; /* adjust as necessary */
    top: 2px; /* adjust as necessary */
    font-size: 14px; /* adjust as necessary */
    color: #ffffff; /* adjust as necessary */
}

.hidden-checkbox:focus {
    outline: none;
}

.select-opponent {
    background: linear-gradient(170deg,#0579ed, #00BFFF, #acd0dccf, #426ab4ab, #5534b77d) !important;
}

.select-button {
    padding: 10px 10px;
    font-size: 20px;
    width: 7em;
    background: transparent !important;
    border: none;
    color: white;
}

.select-button:hover {
    background: transparent !important;
}

h3 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

input[type='checkbox'] {
    position: relative;
}