.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10em;
    background: linear-gradient(to bottom, #6699CC, #604ba049, #6699CC, #6699CC);
    margin: 0;
}

.contact-header h1 {
    text-align: center;
    margin-bottom: 1em;
}

.contact-body {
    
    padding: 3em;
    max-width: 75%;
    margin: 0 auto;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.554);
}

.input-group input {
    margin-bottom: 0.8em;
    border: none;
    padding: 0.7em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    background:  #1c103f4f;
    border-radius: 20px;
    color: #ffffff;
    box-shadow: none;
}

.input-group textarea {
    margin-bottom: 0.8em;
    border: none;
    padding: 0.7em;
    font-size: 1em;
    width: 100% ;
    box-sizing: border-box;
    background:  #1c103f4f;
    border-radius: 20px;
    color: #ffffff;
    box-shadow: none;
}

.input-group textarea::placeholder {
    opacity: 0.3;
}

.input-group input::placeholder{
    opacity: 0.3;
}

.input-group textarea {
    min-width: 31em
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: none;
}

.input-group textarea {
    min-height: 120px;
    resize: vertical;
    max-height: 120px;
overflow-y: scroll;
}

.contact-btn {
    padding: 0.5em;
    font-size: 0.9em;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 25px, rgba(255, 255, 255, 0.8) 0px 0px 5px inset;
    background: linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%);
    color: rgba(0, 0, 0, 0.648);
    border: none;
    transition: background-color 0.7s ease;
    width: 20%;
}

.contact-btn:hover {
    box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 25px, rgba(255, 255, 255, 0.8) 0px 0px 5px inset;
    background: linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%);
    color: rgba(0, 0, 0, 0.648);
}




/* Modal container */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #6699CC, #5534b743, #6699CC);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  /* Modal content */
  .modal-content {
    background: linear-gradient(to bottom,#5534b7d0, #6699CC);
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 20% !important;
    border: none;
    color: #ffffff;
  }
  
  /* Modal text */
  .modal-content p {
    margin-bottom: 10px;
  }
  
  /* Modal close button */
  .modal-content button {
    padding: 0.em;
    font-size: 1em;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 25px, rgba(255, 255, 255, 0.8) 0px 0px 5px inset !important;
    background: linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%) !important;
    color: rgba(0, 0, 0, 0.648) !important;
    border: none;
    transition: background-color 0.3s ease;
    width: 40%;
  }
  
  .modal-content button:hover {
      box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 25px, rgba(255, 255, 255, 0.8) 0px 0px 5px inset !important;
      background: linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%);
      color: rgba(0, 0, 0, 0.648);
  }


@media only screen and (max-width: 480px) {
   
    .contact-body {
        padding: 1em;
        max-width: 100%;
    }

    .input-group input, .input-group textarea {
        width: 100% !important; /* Reduced width */
        margin-left: auto; /* Center the input fields */
        margin-right: auto;
        display: block;
    }

    .input-group input{
        min-width: 22em; 
    }

    .input-group textarea {
        min-width: 22em; 
    }

    .contact-btn {
        width: 30%; /* Reduced width of the submit button */
        margin-left: auto; /* Center the button */
        margin-right: auto;
        display: block;
    }



    .modal-content {
        background: linear-gradient(to bottom,#5534b7d0, #6699CC);
          padding: 20px;
          border-radius: 24px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          max-width: 50% !important;
          border: none;
        }

        .modal-content button {
            padding: 0.em;
            font-size: 1em;
            cursor: pointer;
            box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 25px, rgba(255, 255, 255, 0.8) 0px 0px 5px inset !important;
            background: linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%) !important;
            color: rgba(0, 0, 0, 0.648) !important;
            border: none;
            transition: background-color 0.3s ease;
            width: 60% !important;
        }



}