:root {
    --primary-dark-blue: #003366;
    --secondary-light-blue: #6699CC;
    --light-gray: #E0E0E0;
    --medium-gray: #A0A0A0;
    --dark-gray: #333333;
    --white: #FFFFFF;
    --primary-text-color: var(--dark-gray);
    --secondary-text-color: var(--white);
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    background-color: transparent;
    transition: background-color 0.3s ease;
    border: 0;
    position: fixed;
    left: 0; 
    right: 0;
    z-index: 999;
}

.img-and-username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}


.username {
    color: white;
    padding:0px 5px 5px 5px;
}

.navbar.scrolled {
    background-color: #20578f;
}

.navbar-loggedout {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: #282c34;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
    border: 0;
    position: fixed;
    left: 0; 
    right: 0;
    z-index: 999;
}



.navbar-img {
    width: 5em;
    height: 4.2em;
}

.navbar img {
    padding-top: 5px;
}

.navbar-middle {
    display: flex;
    align-items: center;
    
}

.underline {
    text-decoration: underline;
    transition: text-decoration 0.5s ease;
}

.underline:hover {
    text-decoration-color:rgb(91, 83, 69);
}

.dropdown-links a {
    margin-left: 1rem;
    text-decoration: none;
    color: white;
    margin-right: 1rem;
}

.dropdown-links a:hover {
    color: inherit;
}


.navbar-links a {
    margin-left: 1rem;
    text-decoration: none;
    background: transparent;
    color: white;
}
.navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 50px;
}
.dropdown-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.navbar-user {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    position: relative;
    cursor: pointer;
}

.navbar-user:hover .navbar-dropdown {
    display: block;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-right: 1.5rem;
    margin-left: -4.3rem;
    background-color: #282c34;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.navbar-user-img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.nav-signup-btn {
    border-radius: 15px;
    padding: 0.5rem;

    transition: display 1.9s ease;
    opacity: 0; 
    transform: translateX(120px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.nav-signup-btn.scrolled {
padding: 10px 25px;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    cursor: pointer;
    background: linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%);
    box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 15px, rgba(255, 255, 255, 0.8) 0px 0px 5px inset;
    opacity: 1;
    transform: translateX(0);
}

.nav-login-btn {
    padding: 0.5rem;
    border-radius: 15px;
}


.navbar-dropdown {
    display: none;
    position: absolute;
    top: 98%;
    left: -3.5em;
    z-index: 1;
    background-color: rgba(131, 131, 131, 0.635);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    border-radius: 15px;
}

.nav-logout-btn {
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #ffffff;
}

@media (max-width: 800px) {
    .navbar-links a {
        font-size: 0.8rem;
     
        text-align: center;
    }

    .nav-login-btn {
        padding: 0.4rem;
    }
  
}

@media (max-width: 480px) {
    .navbar-links {
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
       margin: 0;
    }

    .navbar-links a {
        font-size: 0.7rem;
        text-align: center;
    }

    .navbar-middle {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

.nav-login-btn {
    padding: none;
    margin-left: 8px !important;
}


.nav-signup-btn.scrolled {
    padding: 8px 8px;
    font-size: 0.7rem;
    margin-left: 8px;
}

.navbar-img {
    padding-top: 0px !important;
    width: 60px;
    height: 50px;
}


.navbar {
    display: flex;
    justify-content: space-around;
    padding: 0.3rem;
    background-color: transparent;
    transition: background-color 0.3s ease;
    border: 0;
    position: fixed;
    left: 0; 
    right: 0;
    z-index: 999;
}

}