.reset-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #6699CC, #5534b743, #6699CC);
    height: 100vh; 
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding: 2em;
}

.reset-password p {
    font-size: 1.2em;
    margin-bottom: 1em;
    color: #ffffff8d;
}

.reset-password form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 21rem;
    align-items: center;
    background: transparent;
    padding: 2.2em;
    border-radius: 2em;
    color: #ffffff;
}

.reset-password input {
    margin-bottom: 0.8em;
    padding: 0.7em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    background:  #1c103f4f;
    border-radius: 25px;
    color: #ffffff;
    box-shadow: none;
}

.reset-password button {

    padding: 0.em;
    font-size: 1em;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 25px, rgba(255, 255, 255, 0.8) 0px 0px 5px inset !important;
    background: linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%);
  
    border: none;
    transition: background-color 0.3s ease;
    width: 40%;
}

.reset-password button:hover {
    box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 25px, rgba(255, 255, 255, 0.8) 0px 0px 5px inset;
    background: linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%);
    color: rgba(0, 0, 0, 0.648);
}