/* Change the border of the date picker input field */
.react-datepicker__input-container input {
    border: 2px solid #607d8b28;
    border-radius: 20px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 10px;
    width:80px;
    color: #607d8b87;
    height: 10px;
  }
  
  /* Change the background color of the selected day */
  .react-datepicker__day--selected {
    background-color: #ff0000;
  }
  
  /* Change the background color of the current day */
  .react-datepicker__day--today {
    background-color: #00ff00;
  }
  
  /* Change the color of the days in the date picker */
  .react-datepicker__day-name {
    color: #0000ff;
  }


  .date-picker-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -72em;
  }
  