.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #6699CC, #5534b743, #6699CC);
    height: 100vh; 
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding: 2em;
}

.login p {
    font-size: 1.2em;
    margin-bottom: 1em;
    color: #ffffff;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 21rem;
    align-items: center;
    background: transparent;
    padding: 2.2em;
    padding-top: 1em;
    border-radius: 2em;
    color: #ffffff;
}

.login input {
    margin-bottom: 0.8em;
    padding: 0.7em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    background:  #1c103f4f;
    border-radius: 25px;
    color: #ffffff;
    box-shadow: none;
}

.login button {
    
    font-size: 1em;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 25px, rgba(255, 255, 255, 0.8) 0px 0px 5px inset !important;
    background: linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%);
    border: none;
    transition: background-color 0.3s ease;
    width: 40%;
}

.login button:hover {
    box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 25px, rgba(255, 255, 255, 0.8) 0px 0px 5px inset;
    background: linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%);
    color: rgba(0, 0, 0, 0.648);
}

.or {
    border: 1px solid rgba(172, 204, 26, 0.3);
    border-radius: 5px;
    padding: 0.2em;
}

.login .oauth {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-bottom: 0.1em;
}

.login .oauth-buttons {
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    font-size: 2rem;
    padding-top: 1em;
    width: 4rem !important;
    height: 4rem !important;
}

.forgot-password {
    font-size: 0.8em;
    cursor: pointer;
}



/* Modal container */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #6699CC, #5534b743, #6699CC);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  /* Modal content */
  .modal-content {
    background: linear-gradient(to bottom,#5534b7d0, #6699CC);
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 20% !important;
    border: none;
  }
  
  /* Modal text */
  .modal-content p {
    margin-bottom: 10px;
  }
  
  /* Modal close button */
  .modal-content button {
  
    font-size: 1em;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 25px, rgba(255, 255, 255, 0.8) 0px 0px 5px inset !important;
    background: linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%) !important;
    color: rgba(0, 0, 0, 0.648) !important;
    border: none;
    transition: background-color 0.3s ease;
    width: 40%;
  }
  
  .modal-content button:hover {
      box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 25px, rgba(255, 255, 255, 0.8) 0px 0px 5px inset !important;
      background: linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%);
      color: rgba(0, 0, 0, 0.648);
  }
  
.reset-paragraph {
    color: rgba(255, 255, 255, 0.481) !important;
    width: 35%;
}  

/* Media query for larger screens */
@media screen and (min-width: 600px) {
    .login form {
        width: 60%;
    }
}


@media screen and (min-width: 900px) {
    .login form {
        width: 40%;
    }
}

@media screen and (max-width: 450px) {
    .modal-content {
        background: linear-gradient(to bottom,#5534b7d0, #6699CC);
          padding: 20px;
          border-radius: 24px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          max-width: 50% !important;
          border: none;
        }

        .modal-content button {
           
            font-size: 1em;
            cursor: pointer;
            box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 25px, rgba(255, 255, 255, 0.8) 0px 0px 5px inset !important;
            background: linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%) !important;
            color: rgba(0, 0, 0, 0.648) !important;
            border: none;
            transition: background-color 0.3s ease;
            width: 60% !important;
        }
}