@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');



:root {
    --primary-dark-blue: #003366;
    --secondary-light-blue: #6699CC;
    --light-gray: #E0E0E0;
    --medium-gray: #A0A0A0;
    --dark-gray: #333333;
    --white: #FFFFFF;
    --primary-text-color: var(--dark-gray);
    --secondary-text-color: var(--white);
}

#root, html {
    height: 100%;
    color: var(--primary-text-color);
    background: var(--secondary-light-blue);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}



* {

    font-family: 'Open Sans', sans-serif;
}


    .app {
        flex: 1;
        display: flex;
        flex-direction: column;
    }


