.user-profile-container {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
height: 100vh;
width: 100%;
background: linear-gradient(170deg,#0579ed, #00BFFF, #acd0dc, #986edb89, #1085d9);
}

.profile-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0em;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
}

.profile-container p {
    border-bottom: 2px solid #4747471a;
}

.profile-picture {
    border-radius: 5rem;
    max-width: 20rem;
    max-height: 10rem;
    ;
}

.profile-picture img {
    border-radius: 5rem;
    max-width: 20rem;
    max-height: 10rem;
    border: solid 2px #76ff03;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar-fill {
    height: 20px;
    background-color: #76ff03;
}

.edit-profile-btn {
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 25px, rgba(255, 255, 255, 0.8) 0px 0px 5px inset !important;
    background: linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%);
    color: rgba(0, 0, 0, 0.648);
    width: 11%;
    font-size: 13px;
}

.edit-profile-btn:hover {
    box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 25px, rgba(255, 255, 255, 0.8) 0px 0px 5px inset !important;
    background: linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%);
    color: rgba(0, 0, 0, 0.648);
}

.submit-profile-btn {
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 25px, rgba(255, 255, 255, 0.8) 0px 0px 5px inset !important;
    background: linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%);
    color: rgba(0, 0, 0, 0.648);
}

.submit-profile-btn:hover {
    box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 25px, rgba(255, 255, 255, 0.8) 0px 0px 5px inset !important;
    background: linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%);
    color: rgba(0, 0, 0, 0.648);
}

.profile-form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    max-height: 80%;
    height: 500px;
    width: 100%;

}

/* Modal container */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #6699CC, #5534b743, #6699CC);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  /* Modal content */
  .modal-content {
    background: linear-gradient(to bottom,#5534b7d0, #6699CC);
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 20% !important;
    border: none;
  }
  
  /* Modal text */
  .modal-content p {
    margin-bottom: 10px;
  }
  
  /* Modal close button */
  .modal-content button {
    padding: 0.em;
    font-size: 1em;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 25px, rgba(255, 255, 255, 0.8) 0px 0px 5px inset !important;
    background: linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%) !important;
    color: rgba(0, 0, 0, 0.648) !important;
    border: none;
    transition: background-color 0.3s ease;
    width: 40%;
  }
  
  .modal-content button:hover {
      box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 25px, rgba(255, 255, 255, 0.8) 0px 0px 5px inset !important;
      background: linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%);
      color: rgba(0, 0, 0, 0.648);
  }


.profile-form input {
    max-width: 30%;
    margin: 0.2em auto;
color: white;
}

::placeholder {
    color: rgba(255, 255, 255, 0.657);
}

.img-file-input {
    margin: 0;
    display: none
}

::file-selector-button {
    display: none;
}

.upload-img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    background-color: #282c34;
    color: #1b2944;
    border: solid 1px #1b2944;
    border-radius: 10px;
    padding: 0.6em;
    font-size: 1em;
    margin: 1em;
}

.custom-file-upload:hover {
    background-color: rgba(203, 211, 169, 0.05);
}

.back-button {
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 25px, rgba(255, 255, 255, 0.8) 0px 0px 5px inset !important;
    background: linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%) !important;
    color: rgba(0, 0, 0, 0.648);
}

.back-button:hover {
    box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 25px, rgba(255, 255, 255, 0.8) 0px 0px 5px inset !important;
    background: linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%);
    color: rgba(0, 0, 0, 0.648);
}

.avatar-img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.avatar-btn {
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 25px, rgba(255, 255, 255, 0.8) 0px 0px 5px inset !important;
    background: linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%);
    color: rgba(0, 0, 0, 0.648);
}

.avatar-btn:hover {
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 25px, rgba(255, 255, 255, 0.8) 0px 0px 5px inset !important;
    background: linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%);
    color: rgba(0, 0, 0, 0.648);
}

.btn-h1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 50%;
}

.back-button {
    margin-bottom: -3.9em;
    background: linear-gradient(to bottom, #2f894c4b 0%, #3d5688 100%);
    padding: 3px;
}

/* Mobile devices */
@media (max-width: 767px) {
    .profile-container, .profile-form {
      padding: 1em;
    }

    .back-button {
        padding: 0.25em;
        margin-bottom: 0.5em;
        margin-left: -0.2em;
    }
  
    .btn-h1 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
    }

    .upload-img-container {
        width: 90%;
    }
    .profile-form input, .upload-img-container {
      max-width: 100%;
    }
  }
  
  /* Tablet devices */
  @media (min-width: 768px) and (max-width: 1024px) {
    .profile-form input, .upload-img-container {
      max-width: 60%;
    }

    .back-button {
        margin-left: -3em;
    }
    
  }
  
  /* Desktop devices */
  @media (min-width: 1025px) {
    .profile-form input, .upload-img-container {
      max-width: 30%;
    }
  }
  