.assessment {
    background: linear-gradient(170deg,#0579ed, #00BFFF, #acd0dccf, #426ab4ab, #5534b77d);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #FFF;
    min-height: 100vh;
}

.assessment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.assessment .assessment-title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 7rem;
    color:#aaaaaa41;
}

.assessment .topic-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;

}

.assessment .topic-button {
   
  

    cursor: pointer;



    border: solid 0.5px #ce252542;
    background: transparent;
    box-shadow: none;
    transition: 0.4s all ease-in-out;
}

.assessment .topic-button:hover {
    color: #282c34;
    background: linear-gradient(170deg,#0579ed, #00BFFF, #acd0dccf, #426ab4ab, #5534b77d);
}

.assessment .question-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    flex-grow: 1; 
    justify-content: center; 
    border: 2px white solid;
    background: transparent;
    height: 100px;
}

.assessment .question-section .question {
    font-size: 1.1em;
    text-align: center;
    border: solid 0.5px #b8969600;
    padding: 2rem;
    border-radius: 20px;
    color: #ffffff;
    min-height: 0px;
    min-width: 0rem;
    max-width: 20rem;
    max-height: 80px;
    overflow-y: scroll;
    background: transparent;

}

.assessment .question-section .question:hover {
    box-shadow: transparent;
  }

.assessment .question-section .question:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 15px;
    right: 10px;
    background: #282c34;
    width: 80%;
    height: 20%;
    max-width: 20rem;
    border-bottom-left-radius: 45% 15px;
    transform: rotate(3deg);
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}

.assessment .question-section .question:hover::before {
    bottom: 10px;
    right: 5px;
  }

.next-button {

    cursor: pointer;
    color: #AAA;
    border-radius: 10px;
    margin-bottom: 25px;
    border: solid 0.5px #aaaaaa38;
    background: transparent;
    box-shadow: none;
    transition: 0.3s all ease-in-out;
   
}

.next-button:hover {
    color: #282c34;
    background: rgba(255, 255, 255, 0.2);
}

.assessment .question-section .assessment-answer-input {
    width: 85%;
    background-color: #2B2F38;
    padding: 10px;
    color:  #AAA; 
    box-shadow: transparent;
    border: 2.5px solid rgba(255, 255, 255, 0.021);
  
}

.assessment .question-section .assessment-answer-input:focus {
    outline: none;
    box-shadow: transparent;
}

.assessment-input-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: transparent !important;
    padding: 0px; 
    padding-top: 40px !important; 
   box-shadow: none !important;
    z-index: 999; 
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.assessment-input-container .assessment-answer-input{
    border-radius: 25px;
    max-width: 90%;

    margin: 0;
    width: 85% !important;
}

.lottie-quiz {
    width: 30% !important;
    height: 30% !important;
}

.assessment-input-container:hover {
    box-shadow: transparent;
}


.assessment .submit-button {
    position: relative;
    bottom: 0;
    right: 0;
    cursor: pointer;
    color: #ffffff;
    border-radius: 20px;
    padding: 0.4em;
    border: none;
    margin: 0;
    background: transparent;
    box-shadow: none;
    transition: 0.3s all ease-in-out;
}

.assessment .question-section .submit-button:hover {
    box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 25px, rgba(255, 255, 255, 0.8) 0px 0px 5px inset !important;
    background: linear-gradient(180deg, var(--white) 0%, var(--light-gray) 100%);
    color: rgba(0, 0, 0, 0.648);
}

button {
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.result {
    font-size: 20px;  
    text-align: center;
    min-height: 30px;
  }
  
  .correct {
    color: #155724; 
  }
  
.incorrect {
    color: #a11c29; 
    border: none !important;
    box-shadow: none !important;
    max-height: 15em;
  }

  .apilimit-modal-container {
    position: fixed;      
    top: 0;              
    left: 0;         
    width: 100%;          
    height: 100%;    
    background-color: rgba(5, 1, 26, 0.935); 
    z-index: 1000;     
    overflow-y: auto;   
    display: flex;         
    justify-content: center;
    align-items: center;
  }

  .apilimit-modal {
    position: relative;
    border: 2.5px solid rgba(255, 255, 255, 0.083);

    width: 40%;
    max-width: 50%;
    max-height: 80%;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    background: linear-gradient(to bottom, #5d6067 0%, #282c34 100%);
  }

  .css-b62m3t-container {
    min-width: 0px !important;
  }

  .css-1dekisi-control {
    border: 0.5px solid rgb(241, 241, 241) !important;
    border-radius: 20px;
    padding: 5px;
  }

  .close-button {
    position: absolute;
    top: 1px;
    right: 10px;
    cursor: pointer;
    font-size: 25px;
    color: #a81616;
  }


  @media (max-width: 800px) {
    .assessment .topic-selection {
        flex-direction: column;
    }
  }